h1 {
    text-align: center;
    color: red;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 4em;
}

.form-group button {
background-color: rgb(190, 190, 190);
}

form{
    padding-top: 3em;
    padding-left: 27em;
}

.connectionbad{
    color:rgb(247, 210, 210)
}

.connectionOK{
    color: rgb(219, 250, 232);
}

.answer{
    color: black;
    margin-top: -17em;
}

.added{
    color: rgb(33, 211, 107);
    font-size: 3em;
    text-align: center;
}


.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: lime;
}

.input-control.error input {
    border-color: red;
}

.input-control .error {
    color: rgb(253, 84, 90);
    font-size: 15px;
    height: 13px;
}

h2{
    text-align: center;
    color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}